@import "~bootstrap/scss/bootstrap";

body {

    background-image: url('~res/imgs/background.webp');
    background-size: cover;

    h1 {
        background-color: black;
        color: purple;
    }
}
